@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Kaushan+Script&family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  background: #1a1d1f;
  overflow: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
}

header nav {
  width: 50rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

header nav ul li a:hover {
  background: #840d08;
}

header .logo h1 {
  color: white;
  font-size: 4rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .content {
  margin-top: -10rem;
  width: 35%;
}

.container .content h1 {
  font-size: 7rem;
  color: white;
}

.container .content h3 {
  font-size: 3rem;
  color: white;
  margin: 1rem 0;
}

.container .content h5 {
  color: gold;
  font-size: 1.5rem;
}

.container .content button {
  outline: none;
  border: none;
  background: #840d08;
  height: 4rem;
  width: 16rem;
  color: white;
  border-radius: 5rem;
  margin: 2rem 0;
  cursor: pointer;
}

.container .content button:hover {
  opacity: 0.7;
}

.container .content .icons a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.container .content .icons a:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.container .images {
  margin-top: -10rem;
  width: 40%;
  position: relative;
}

.container .images img {
  width: 40vw;
}

.container .images .plane {
  position: absolute;
  top: 5%;
  right: 10%;
  -webkit-animation: float 2s linear infinite;
          animation: float 2s linear infinite;
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}
/*# sourceMappingURL=style.css.map */